body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #f3f3f3;
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-item1 {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.flex-item1 p {
  text-align: center;
  font-size: 30px;
}

.flex-item2 {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-item3 {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.playground {
  position: relative;
  margin: auto;
  width: 500px;
  height: 300px;
  background: white;
  border: 3px black solid;
  overflow: hidden;
}

.character {
  position: absolute;
  top: 220px;
  left: 235px;
  height: 30px;
  width: 30px;
  background-color: #5462FF;
}

.enemy {
  position: absolute;
  top: -30px;
  left: 235px;
  height: 30px;
  width: 30px;
  background-color: #252424;
}

.ally {
  position: absolute;
  top: -30px;
  left: 235px;
  height: 30px;
  width: 30px;
  background-color: green;
}

#collision {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
  color: black;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

#collision p {
  padding: 0px 50px;
  color: white;
  font-size: 5vh;
  font-style: italic;
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
}

.death-background {
  width: 100%;
  height: 100%;
  background: black;
}

.lives {
  position: absolute;
  top: 10px;
  right: 180px;
  height: 30px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 5;
}

.lives img {
  height: 30px;
  width: 32px;
  padding: 3px;
}

.score {
  position: relative;
  top: -5px;
  left: 10px;
  margin: 0px;
  font-size: 30px;
}

.controls {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto auto;
  z-index: -1;
}

.controls p {
  text-align: center;
  font-size: 30px;
  line-height: 50px;
}

.blink {
  position: absolute;
  top: 50px;
  left: 20px;
  height: 30px;
  width: 30px;
  background: #08a9c2;
  border-radius: 50%;
  -webkit-filter: blur(7px);
          filter: blur(7px);
  -webkit-animation: dissappear 1s ease-in forwards;
          animation: dissappear 1s ease-in forwards;
}

@-webkit-keyframes dissappear {
  0% {
  }
  100% {
    -webkit-filter: blur(7px);
            filter: blur(7px);
    background: white;
  }
}

@keyframes dissappear {
  0% {
  }
  100% {
    -webkit-filter: blur(7px);
            filter: blur(7px);
    background: white;
  }
}

.centered-pg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 506px;
  height: 406px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.blue {
  color: #5462FF;
}

.green {
  color: green;
}

button {
  margin-top: 4em;
  width: 300px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  color: #f3f3f3;
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: sans-serif;
}

button:focus {
  outline: none;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.colorful {
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#03a9f4), color-stop(#f441a5), color-stop(#ffeb3b), to(#03a9f4));
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 30px;
  z-index: 1;
}

.colorful:hover {
  -webkit-animation: colorful 8s linear infinite;
          animation: colorful 8s linear infinite;
}

@-webkit-keyframes colorful {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

@keyframes colorful {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

.colorful::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: -webkit-gradient(linear, left top, right top, from(#03a9f4), color-stop(#f441a5), color-stop(#ffeb3b), to(#03a9f4));
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 40px;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.colorful:hover::before {
  -webkit-filter: blur(20px);
          filter: blur(20px);
  opacity: 1;
  -webkit-animation: colorful 8s linear infinite;
          animation: colorful 8s linear infinite;
}

.center {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=styles.css.map */